name: Fiscalismia-Lambda Deployment Pipeline

on:
  push:
    branches:
      - main
      - pipeline_testing
  pull_request:
    branches:
      - main
      - pipeline_testing+

jobs:
  zip-nodejs-layers:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      actions: read

    steps:
    - name: Checkout SCM
      uses: actions/checkout@v5

    - name: Build NodeJS Layer Fiscalismia_ImageProcessing_NodeJSDependencies
      env:
        RUNTIME_ENV: "nodejs24.x"
        DOCKER_IMG: "public.ecr.aws/lambda/nodejs:24-preview.2025.10.29.20-x86_64"
        LAYER_NAME: "Fiscalismia_ImageProcessing_NodeJSDependencies"
        PROGRAMMING_LANG: "typescript"
        NODE_V: "node24"
        ENGINE: "docker"
      run: |
        cd ${GITHUB_WORKSPACE}/scripts
        bash create_layer_archive.sh ${RUNTIME_ENV} ${DOCKER_IMG} ${LAYER_NAME} ${PROGRAMMING_LANG} ${NODE_V} ${ENGINE}
        cd ${GITHUB_WORKSPACE}/layers/${LAYER_NAME}
        ls -hla

    - name: Upload Layer Archive Artifacts
      uses: actions/upload-artifact@v5.0.0
      with:
        name: nodejs-layer-archives
        retention-days: 1
        path: |
          layers/*NodeJS*/*
          !layers/*NodeJS*/package.json

  zip-python-layers:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      actions: read

    steps:
    - name: Checkout SCM
      uses: actions/checkout@v5

    - name: Build Python Layer Fiscalismia_RawDataETL_PythonDependencies
      env:
        RUNTIME_ENV: "python3.13"
        DOCKER_IMG: "public.ecr.aws/lambda/python:3.13.2025.10.29.20-x86_64"
        LAYER_NAME: "Fiscalismia_RawDataETL_PythonDependencies"
        PROGRAMMING_LANG: "python"
        PYTHON_V: "python3.13"
        ENGINE: "docker"
      run: |
        cd ${GITHUB_WORKSPACE}/scripts
        bash create_layer_archive.sh ${RUNTIME_ENV} ${DOCKER_IMG} ${LAYER_NAME} ${PROGRAMMING_LANG} ${PYTHON_V} ${ENGINE}
        cd ${GITHUB_WORKSPACE}/layers/${LAYER_NAME}
        ls -hla

    - name: Build Python Layer Infrastructure_PythonDependencies
      env:
        RUNTIME_ENV: "python3.13"
        DOCKER_IMG: "public.ecr.aws/lambda/python:3.13.2025.10.29.20-x86_64"
        LAYER_NAME: "Infrastructure_PythonDependencies"
        PROGRAMMING_LANG: "python"
        PYTHON_V: "python3.13"
        ENGINE: "docker"
      run: |
        cd ${GITHUB_WORKSPACE}/scripts
        bash create_layer_archive.sh ${RUNTIME_ENV} ${DOCKER_IMG} ${LAYER_NAME} ${PROGRAMMING_LANG} ${PYTHON_V} ${ENGINE}
        cd ${GITHUB_WORKSPACE}/layers/${LAYER_NAME}
        ls -hla

    - name: Upload Layer Archive Artifacts
      uses: actions/upload-artifact@v5.0.0
      with:
        name: python-layer-archives
        retention-days: 1
        path: |
          layers/*Python*/*
          !layers/*Python*/requirements.txt

  upload-layers:
    runs-on: ubuntu-latest
    needs:
      - zip-nodejs-layers
      - zip-python-layers

    permissions:
      id-token: write # for aws OIDC STS tokens to work
      contents: read
      actions: read

    steps:
    # - name: Configure AWS Credentials
    #   # This action takes your secrets and correctly sets up the AWS CLI environment
    #   uses: aws-actions/configure-aws-credentials@v5.1.0
    #   with:
    #     aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
    #     aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
    #     aws-region: ${{ vars.AWS_REGION }} # Use the region secret

    - name: Configure AWS Credentials with OIDC JWT Token for STS Access
      # See https://docs.github.com/en/actions/concepts/security/openid-connect
      uses: aws-actions/configure-aws-credentials@v5.1.0
      with:
        role-to-assume: arn:aws:iam::010928217051:role/OpenID_Connect_GithubActions_LambdaPipeline
        role-session-name: S3Upload_Temporary_STS_Session
        aws-region: ${{ vars.AWS_REGION }}

    - name: Download NodeJS Layer Archives
      uses: actions/download-artifact@v4
      with:
        name: nodejs-layer-archives
        path: layers/

    - name: Download Python Layer Archives
      uses: actions/download-artifact@v4
      with:
        name: python-layer-archives
        path: layers/

    - name: Upload Layer Archives to S3 bucket
      env:
        S3_BUCKET: fiscalismia-infrastructure
        NODEJS_APP_LAYER_PREFIX: lambdas/fiscalismia/nodejs
        PYTHON_APP_LAYER_PREFIX: lambdas/fiscalismia/python
        PYTHON_INFRA_LAYER_PREFIX: lambdas/infrastructure/python
        NODEJS_APP_LAYER_NAME: Fiscalismia_ImageProcessing_NodeJSDependencies
        PYTHON_APP_LAYER_NAME: Fiscalismia_RawDataETL_PythonDependencies
        PYTHON_INFRA_LAYER_NAME: Infrastructure_PythonDependencies
      run: |
        aws sts get-caller-identity
        aws s3 ls
        aws s3 ls s3://${S3_BUCKET}/
        aws s3 ls s3://${S3_BUCKET}/lambdas/fiscalismia/
        aws s3 ls s3://${S3_BUCKET}/lambdas/infrastructure/
        aws s3 ls s3://${S3_BUCKET}/share/
        aws s3 ls s3://${S3_BUCKET}/share/temp1.txt
        aws s3 cp s3://${S3_BUCKET}/lambdas/infrastructure/python/Infrastructure_ApiGatewayRouteThrottler.zip .

        export S3_UPLOAD_URI="s3://${S3_BUCKET}/${NODEJS_APP_LAYER_PREFIX}/${NODEJS_APP_LAYER_NAME}.zip"
        cd ${GITHUB_WORKSPACE}/layers/${NODEJS_APP_LAYER_NAME}/
        echo "Uploading to ${S3_UPLOAD_URI}"
        ls -hla
        aws s3 cp ./${NODEJS_APP_LAYER_NAME}.zip ${S3_UPLOAD_URI}

        export S3_UPLOAD_URI="s3://${S3_BUCKET}/${PYTHON_APP_LAYER_PREFIX}/${PYTHON_APP_LAYER_NAME}.zip"
        cd ${GITHUB_WORKSPACE}/layers/${PYTHON_APP_LAYER_NAME}/
        echo "Uploading to ${S3_UPLOAD_URI}"
        ls -hla
        aws s3 cp ./${PYTHON_APP_LAYER_NAME}.zip ${S3_UPLOAD_URI}

        export S3_UPLOAD_URI="s3://${S3_BUCKET}/${PYTHON_INFRA_LAYER_PREFIX}/${PYTHON_INFRA_LAYER_NAME}.zip"
        cd ${GITHUB_WORKSPACE}/layers/${PYTHON_INFRA_LAYER_NAME}/
        echo "Uploading to ${S3_UPLOAD_URI}"
        ls -hla
        aws s3 cp ./${PYTHON_INFRA_LAYER_NAME}.zip ${S3_UPLOAD_URI}

  zip-python-lambda-functions:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      actions: read

    steps:
    - name: Checkout SCM
      uses: actions/checkout@v5

    - name: Zip Python Lambda Functions
      env:
        PROGRAMMING_LANG: "python" # or typescript
      run: |
        cd ${GITHUB_WORKSPACE}/scripts
        bash create_function_archives.sh ${PROGRAMMING_LANG}

    - name: Upload Python Lambda Function Archives
      uses: actions/upload-artifact@v5.0.0
      with:
        name: python-function-archives
        retention-days: 1
        path: |
          functions/python/*.zip

  upload-functions:
    runs-on: ubuntu-latest
    needs:
      - zip-python-lambda-functions

    permissions:
      id-token: write # for aws OIDC STS tokens to work
      contents: read
      actions: read

    steps:
    # - name: Configure AWS Credentials
    #   # This action takes your secrets and correctly sets up the AWS CLI environment
    #   uses: aws-actions/configure-aws-credentials@v5.1.0
    #   with:
    #     aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
    #     aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
    #     aws-region: ${{ vars.AWS_REGION }} # Use the region secret

    - name: Configure AWS Credentials with OIDC JWT Token for STS Access
      # See https://docs.github.com/en/actions/concepts/security/openid-connect
      uses: aws-actions/configure-aws-credentials@v5.1.0
      with:
        role-to-assume: arn:aws:iam::010928217051:role/OpenID_Connect_GithubActions_LambdaPipeline
        role-session-name: S3Upload_Temporary_STS_Session
        aws-region: ${{ vars.AWS_REGION }}

    - name: Download Python Function Archives
      uses: actions/download-artifact@v4
      with:
        name: python-function-archives
        path: functions/python/

    # - name: Download TypeScript Function Archives
    #   uses: actions/download-artifact@v4
    #   with:
    #     name: typescript-layer-archive
    #     path: functions/typescript/

    - name: Upload Function Archives to S3 bucket
      env:
        S3_BUCKET: fiscalismia-infrastructure
        NODEJS_APP_LAYER_PREFIX: lambdas/fiscalismia/nodejs
        PYTHON_APP_LAYER_PREFIX: lambdas/fiscalismia/python
        PYTHON_INFRA_LAYER_PREFIX: lambdas/infrastructure/python
      run: |
        aws sts get-caller-identity
        aws s3 ls
        aws s3 ls s3://${S3_BUCKET}/
        aws s3 ls s3://${S3_BUCKET}/lambdas/fiscalismia/
        aws s3 ls s3://${S3_BUCKET}/lambdas/infrastructure/
        aws s3 ls s3://${S3_BUCKET}/share/
        aws s3 ls s3://${S3_BUCKET}/share/temp1.txt
        aws s3 cp s3://${S3_BUCKET}/lambdas/infrastructure/python/Infrastructure_ApiGatewayRouteThrottler.zip .

        export S3_UPLOAD_URI="s3://${S3_BUCKET}/${PYTHON_INFRA_LAYER_PREFIX}/"
        cd ${GITHUB_WORKSPACE}/functions/python/
        echo && echo "##### Syncing the following files to ${S3_UPLOAD_URI}"
        ls -hla | grep -E 'Test|Infra'
        aws s3 sync . ${S3_UPLOAD_URI} \
          --exclude "*" \
          --include "Infra*.zip" \
          --include "Test*.zip"

        export S3_UPLOAD_URI="s3://${S3_BUCKET}/${PYTHON_APP_LAYER_PREFIX}/"
        cd ${GITHUB_WORKSPACE}/functions/python/
        echo && echo "##### Syncing the following files to ${S3_UPLOAD_URI}"
        ls -hla | grep Fiscalismia
        aws s3 sync . ${S3_UPLOAD_URI} \
          --exclude "*" \
          --include "Fiscalismia*.zip"
