name: Fiscalismia-Lambda Deployment Pipeline

on:
  push:
    branches:
      - main
      - pipeline_testing
  pull_request:
    branches:
      - main
      - pipeline_testing+

jobs:
  zip-nodejs-layers:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      actions: read

    steps:
    - name: Checkout SCM
      uses: actions/checkout@v5

    - name: Build NodeJS Layer Fiscalismia_ImageProcessing_NodeJSDependencies
      env:
        RUNTIME_ENV: "nodejs24.x"
        DOCKER_IMG: "public.ecr.aws/lambda/nodejs:24-preview.2025.10.29.20-x86_64"
        LAYER_NAME: "Fiscalismia_ImageProcessing_NodeJSDependencies"
        PROGRAMMING_LANG: "typescript"
        NODE_V: "node24"
        ENGINE: "docker"
      run: |
        cd ${GITHUB_WORKSPACE}/scripts
        bash create_layer_archive.sh ${RUNTIME_ENV} ${DOCKER_IMG} ${LAYER_NAME} ${PROGRAMMING_LANG} ${NODE_V} ${ENGINE}
        cd ${GITHUB_WORKSPACE}/layers/${LAYER_NAME}
        ls -hla

    - name: Upload Layer Archive Artifacts
      uses: actions/upload-artifact@v5.0.0
      with:
        name: nodejs-layer-archive
        retention-days: 1
        path: |
          layers/*NodeJS*/*
          !layers/*NodeJS*/package.json

  zip-python-layers:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      actions: read

    steps:
    - name: Checkout SCM
      uses: actions/checkout@v5

    - name: Build Python Layer Fiscalismia_RawDataETL_PythonDependencies
      env:
        RUNTIME_ENV: "python3.13"
        DOCKER_IMG: "public.ecr.aws/lambda/python:3.13.2025.10.29.20-x86_64"
        LAYER_NAME: "Fiscalismia_RawDataETL_PythonDependencies"
        PROGRAMMING_LANG: "python"
        PYTHON_V: "python3.13"
        ENGINE: "docker"
      run: |
        cd ${GITHUB_WORKSPACE}/scripts
        bash create_layer_archive.sh ${RUNTIME_ENV} ${DOCKER_IMG} ${LAYER_NAME} ${PROGRAMMING_LANG} ${PYTHON_V} ${ENGINE}
        cd ${GITHUB_WORKSPACE}/layers/${LAYER_NAME}
        ls -hla

    - name: Build Python Layer Infrastructure_PythonDependencies
      env:
        RUNTIME_ENV: "python3.13"
        DOCKER_IMG: "public.ecr.aws/lambda/python:3.13.2025.10.29.20-x86_64"
        LAYER_NAME: "Infrastructure_PythonDependencies"
        PROGRAMMING_LANG: "python"
        PYTHON_V: "python3.13"
        ENGINE: "docker"
      run: |
        cd ${GITHUB_WORKSPACE}/scripts
        bash create_layer_archive.sh ${RUNTIME_ENV} ${DOCKER_IMG} ${LAYER_NAME} ${PROGRAMMING_LANG} ${PYTHON_V} ${ENGINE}
        cd ${GITHUB_WORKSPACE}/layers/${LAYER_NAME}
        ls -hla

    - name: Upload Layer Archive Artifacts
      uses: actions/upload-artifact@v5.0.0
      with:
        name: python-layer-archive
        retention-days: 1
        path: |
          layers/*Python*/*
          !layers/*Python*/requirements.txt

  upload-layers:
    runs-on: ubuntu-latest
    needs:
      - zip-nodejs-layers
      - zip-python-layers

    permissions:
      contents: read
      actions: read

    steps:
    - name: Configure AWS Credentials
      # This action takes your secrets and correctly sets up the AWS CLI environment
      uses: aws-actions/configure-aws-credentials@v5.1.0
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ${{ secrets.AWS_REGION }} # Use the region secret

    - name: Download NodeJS Layer Archive
      uses: actions/download-artifact@v4
      with:
        name: nodejs-layer-archive
        path: layers/

    - name: Download Python Layer Archive
      uses: actions/download-artifact@v4
      with:
        name: python-layer-archive
        path: layers/

    - name: Upload Layer Archives to S3 bucket
      env:
        S3_BUCKET: fiscalismia-infrastructure
        NODEJS_APP_LAYER_PREFIX: lambdas/fiscalismia/nodejs
        PYTHON_APP_LAYER_PREFIX: lambdas/fiscalismia/python
        PYTHON_INFRA_LAYER_PREFIX: lambdas/infrastructure/python
        NODEJS_APP_LAYER_NAME: Fiscalismia_ImageProcessing_NodeJSDependencies
        PYTHON_APP_LAYER_NAME: Fiscalismia_RawDataETL_PythonDependencies
        PYTHON_INFRA_LAYER_NAME: Infrastructure_PythonDependencies
      run: |
        aws sts get-caller-identity
        aws s3 ls

        export S3_UPLOAD_URI_NODEJS="s3://${S3_BUCKET}/${NODEJS_APP_LAYER_PREFIX}/${NODEJS_APP_LAYER_NAME}.zip"
        cd ${GITHUB_WORKSPACE}/layers/${NODEJS_APP_LAYER_NAME}/
        echo "Uploading to ${S3_UPLOAD_URI_NODEJS}"
        ls -hla
        aws s3 cp ./${NODEJS_APP_LAYER_NAME}.zip ${S3_UPLOAD_URI_NODEJS}

        export S3_UPLOAD_URI_NODEJS="s3://${S3_BUCKET}/${PYTHON_APP_LAYER_PREFIX}/${PYTHON_APP_LAYER_NAME}.zip"
        cd ${GITHUB_WORKSPACE}/layers/${PYTHON_APP_LAYER_NAME}/
        echo "Uploading to ${S3_UPLOAD_URI_NODEJS}"
        ls -hla
        aws s3 cp ./${PYTHON_APP_LAYER_NAME}.zip ${S3_UPLOAD_URI_NODEJS}

        export S3_UPLOAD_URI_NODEJS="s3://${S3_BUCKET}/${PYTHON_INFRA_LAYER_PREFIX}/${PYTHON_INFRA_LAYER_NAME}.zip"
        cd ${GITHUB_WORKSPACE}/layers/${PYTHON_INFRA_LAYER_NAME}/
        echo "Uploading to ${S3_UPLOAD_URI_NODEJS}"
        ls -hla
        aws s3 cp ./${PYTHON_INFRA_LAYER_NAME}.zip ${S3_UPLOAD_URI_NODEJS}

  zip-python-lambda-functions:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      actions: read

    steps:
    - name: Checkout SCM
      uses: actions/checkout@v5

    - name: Zip Python Lambda Functions
      env:
        PROGRAMMING_LANG: "python" # or typescript
      run: |
        cd ${GITHUB_WORKSPACE}/scripts
        bash create_function_archives.sh ${PROGRAMMING_LANG}
        cd ${GITHUB_WORKSPACE}/functions/python/
        ls -hla

    - name: Upload Python Lambda Function Archives
      uses: actions/upload-artifact@v5.0.0
      with:
        name: python-function-archives
        retention-days: 1
        path: |
          functions/python/*
          !functions/python/*.py
