name: Fiscalismia-Lambda Deployment Pipeline

env: # Global Environment variables for the entire pipeline
  S3_BUCKET: fiscalismia-infrastructure
  NODEJS_APP_PREFIX: lambdas/fiscalismia/nodejs
  PYTHON_APP_PREFIX: lambdas/fiscalismia/python
  PYTHON_INFRA_PREFIX: lambdas/infrastructure/python

on:
  push:
    branches:
      - main
      - pipeline_testing
  pull_request:
    branches:
      - main
      - pipeline_testing+

jobs:
  zip-nodejs-layers:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      actions: read

    steps:
    - name: Checkout SCM
      uses: actions/checkout@v5

    - name: Build NodeJS Layer Fiscalismia_ImageProcessing_NodeJSDependencies
      env:
        RUNTIME_ENV: "nodejs22.x"
        DOCKER_IMG: "public.ecr.aws/lambda/nodejs:22.2025.10.29.20"
        # DOCKER_IMG: "public.ecr.aws/lambda/nodejs:24-preview.2025.10.29.20-x86_64"
        LAYER_NAME: "Fiscalismia_ImageProcessing_NodeJSDependencies"
        PROGRAMMING_LANG: "typescript"
        NODE_V: "node22"
        ENGINE: "docker"
      run: |
        cd ${GITHUB_WORKSPACE}/scripts
        bash create_layer_archive.sh ${RUNTIME_ENV} ${DOCKER_IMG} ${LAYER_NAME} ${PROGRAMMING_LANG} ${NODE_V} ${ENGINE}
        cd ${GITHUB_WORKSPACE}/layers/${LAYER_NAME}
        ls -hla

    - name: Upload Layer Archive Artifacts
      uses: actions/upload-artifact@v5.0.0
      with:
        name: nodejs-layer-archives
        retention-days: 1
        path: |
          layers/*NodeJS*/*
          !layers/*NodeJS*/package.json

  zip-python-layers:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      actions: read

    steps:
    - name: Checkout SCM
      uses: actions/checkout@v5

    - name: Build Python Layer Fiscalismia_RawDataETL_PythonDependencies
      env:
        RUNTIME_ENV: "python3.13"
        DOCKER_IMG: "public.ecr.aws/lambda/python:3.13.2025.10.29.20-x86_64"
        LAYER_NAME: "Fiscalismia_RawDataETL_PythonDependencies"
        PROGRAMMING_LANG: "python"
        PYTHON_V: "python3.13"
        ENGINE: "docker"
      run: |
        cd ${GITHUB_WORKSPACE}/scripts
        bash create_layer_archive.sh ${RUNTIME_ENV} ${DOCKER_IMG} ${LAYER_NAME} ${PROGRAMMING_LANG} ${PYTHON_V} ${ENGINE}
        cd ${GITHUB_WORKSPACE}/layers/${LAYER_NAME}
        ls -hla

    - name: Build Python Layer Infrastructure_PythonDependencies
      env:
        RUNTIME_ENV: "python3.13"
        DOCKER_IMG: "public.ecr.aws/lambda/python:3.13.2025.10.29.20-x86_64"
        LAYER_NAME: "Infrastructure_PythonDependencies"
        PROGRAMMING_LANG: "python"
        PYTHON_V: "python3.13"
        ENGINE: "docker"
      run: |
        cd ${GITHUB_WORKSPACE}/scripts
        bash create_layer_archive.sh ${RUNTIME_ENV} ${DOCKER_IMG} ${LAYER_NAME} ${PROGRAMMING_LANG} ${PYTHON_V} ${ENGINE}
        cd ${GITHUB_WORKSPACE}/layers/${LAYER_NAME}
        ls -hla

    - name: Upload Layer Archive Artifacts
      uses: actions/upload-artifact@v5.0.0
      with:
        name: python-layer-archives
        retention-days: 1
        path: |
          layers/*Python*/*
          !layers/*Python*/requirements.txt

  upload-layers-s3:
    runs-on: ubuntu-latest
    needs:
      - zip-nodejs-layers
      - zip-python-layers

    permissions:
      id-token: write # for aws OIDC STS tokens to work
      contents: read
      actions: read

    steps:
    - name: Configure AWS Credentials with OIDC JWT Token for STS Access
      # See https://docs.github.com/en/actions/concepts/security/openid-connect
      uses: aws-actions/configure-aws-credentials@v5.1.0
      with:
        role-to-assume: arn:aws:iam::010928217051:role/OpenID_Connect_GithubActions_LambdaPipeline
        role-session-name: S3Upload_Temporary_STS_Session
        aws-region: ${{ vars.AWS_REGION }}

    - name: Download NodeJS Layer Archives
      uses: actions/download-artifact@v4
      with:
        name: nodejs-layer-archives
        path: layers/

    - name: Download Python Layer Archives
      uses: actions/download-artifact@v4
      with:
        name: python-layer-archives
        path: layers/

    - name: Upload Layer Archives to S3 bucket
      env:
        NODEJS_APP_LAYER_NAME: Fiscalismia_ImageProcessing_NodeJSDependencies
        PYTHON_APP_LAYER_NAME: Fiscalismia_RawDataETL_PythonDependencies
        PYTHON_INFRA_LAYER_NAME: Infrastructure_PythonDependencies
      run: |
        export S3_UPLOAD_URI="s3://${S3_BUCKET}/${NODEJS_APP_PREFIX}/${NODEJS_APP_LAYER_NAME}.zip"
        cd ${GITHUB_WORKSPACE}/layers/${NODEJS_APP_LAYER_NAME}/
        echo "Uploading to ${S3_UPLOAD_URI}"
        ls -hla
        aws s3 cp ./${NODEJS_APP_LAYER_NAME}.zip ${S3_UPLOAD_URI}

        export S3_UPLOAD_URI="s3://${S3_BUCKET}/${PYTHON_APP_PREFIX}/${PYTHON_APP_LAYER_NAME}.zip"
        cd ${GITHUB_WORKSPACE}/layers/${PYTHON_APP_LAYER_NAME}/
        echo "Uploading to ${S3_UPLOAD_URI}"
        ls -hla
        aws s3 cp ./${PYTHON_APP_LAYER_NAME}.zip ${S3_UPLOAD_URI}

        export S3_UPLOAD_URI="s3://${S3_BUCKET}/${PYTHON_INFRA_PREFIX}/${PYTHON_INFRA_LAYER_NAME}.zip"
        cd ${GITHUB_WORKSPACE}/layers/${PYTHON_INFRA_LAYER_NAME}/
        echo "Uploading to ${S3_UPLOAD_URI}"
        ls -hla
        aws s3 cp ./${PYTHON_INFRA_LAYER_NAME}.zip ${S3_UPLOAD_URI}

  zip-lambda-functions:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      actions: read

    steps:
    - name: Checkout SCM
      uses: actions/checkout@v5

    - name: Zip Python Lambda Functions
      env:
        PROGRAMMING_LANG: "python"
      run: |
        cd ${GITHUB_WORKSPACE}/scripts
        bash create_function_archives.sh ${PROGRAMMING_LANG}

    - name: Setup NodeJS
      uses: actions/setup-node@v6
      with:
        node-version: 22

    - name: Build and Zip TypeScript Lambda Functions
      env:
        PROGRAMMING_LANG: "typescript"
      run: |
        cd ${GITHUB_WORKSPACE}/scripts
        bash create_function_archives.sh ${PROGRAMMING_LANG}

    - name: Upload Python Lambda Function Archives
      uses: actions/upload-artifact@v5.0.0
      with:
        name: python-function-archives
        retention-days: 1
        path: |
          functions/python/*.zip

    - name: Upload TypeScript Lambda Function Archives
      uses: actions/upload-artifact@v5.0.0
      with:
        name: typescript-function-archives
        retention-days: 1
        path: |
          functions/typescript/*.zip

  upload-functions-s3:
    runs-on: ubuntu-latest
    needs:
      - zip-lambda-functions

    permissions:
      id-token: write # for aws OIDC STS tokens to work
      contents: read
      actions: read

    steps:
    - name: Configure AWS Credentials with OIDC JWT Token for STS Access
      # See https://docs.github.com/en/actions/concepts/security/openid-connect
      uses: aws-actions/configure-aws-credentials@v5.1.0
      with:
        role-to-assume: arn:aws:iam::010928217051:role/OpenID_Connect_GithubActions_LambdaPipeline
        role-session-name: S3Upload_Temporary_STS_Session
        aws-region: ${{ vars.AWS_REGION }}

    - name: Download Python Function Archives
      uses: actions/download-artifact@v4
      with:
        name: python-function-archives
        path: functions/python/

    - name: Download TypeScript Function Archives
      uses: actions/download-artifact@v4
      with:
        name: typescript-function-archives
        path: functions/typescript/

    - name: Upload Function Archives to S3 bucket
      run: |
        aws sts get-caller-identity

        ### PYTHON INFRASTRUCTURE DEPLOYMENT ###
        export S3_UPLOAD_URI="s3://${S3_BUCKET}/${PYTHON_INFRA_PREFIX}/"
        cd ${GITHUB_WORKSPACE}/functions/python/
        echo && echo "##### Syncing the following files to ${S3_UPLOAD_URI}"
        ls -hla | grep -E 'Test|Infra'
        aws s3 sync . ${S3_UPLOAD_URI} \
          --exclude "*" \
          --include "Infra*.zip" \
          --include "Test*.zip"

        ### PYTHON APPLICATION DEPLOYMENT ###
        export S3_UPLOAD_URI="s3://${S3_BUCKET}/${PYTHON_APP_PREFIX}/"
        cd ${GITHUB_WORKSPACE}/functions/python/
        echo && echo "##### Syncing the following files to ${S3_UPLOAD_URI}"
        ls -hla | grep Fiscalismia
        aws s3 sync . ${S3_UPLOAD_URI} \
          --exclude "*" \
          --include "Fiscalismia*.zip"

        ### TYPESCRIPT APPLICATION DEPLOYMENT ###
        export S3_UPLOAD_URI="s3://${S3_BUCKET}/${NODEJS_APP_PREFIX}/"
        cd ${GITHUB_WORKSPACE}/functions/typescript/
        echo && echo "##### Syncing the following files to ${S3_UPLOAD_URI}"
        ls -hla | grep Fiscalismia
        aws s3 sync . ${S3_UPLOAD_URI} \
          --exclude "*" \
          --include "Fiscalismia*.zip"

  update-function-code:
    runs-on: ubuntu-latest
    needs:
      - upload-functions-s3

    permissions:
      id-token: write # for aws OIDC STS tokens to work
      contents: read
      actions: read

    steps:
    - name: Configure AWS Credentials with OIDC JWT Token for STS Access
      # See https://docs.github.com/en/actions/concepts/security/openid-connect
      uses: aws-actions/configure-aws-credentials@v5.1.0
      with:
        role-to-assume: arn:aws:iam::010928217051:role/OpenID_Connect_GithubActions_LambdaPipeline
        role-session-name: LambdaFunctionUpdate_Temporary_STS_Session
        aws-region: ${{ vars.AWS_REGION }}

    - name: Download Python Function Archives
      uses: actions/download-artifact@v4
      with:
        name: python-function-archives
        path: functions/python/

    - name: Download TypeScript Function Archives
      uses: actions/download-artifact@v4
      with:
        name: typescript-function-archives
        path: functions/typescript/

    - name: Update Function Code
      run: |
        aws sts get-caller-identity
        aws lambda list-functions | grep FunctionName

        ### TYPESCRIPT APPLICATION FUNCTION UPDATE ###
        cd ${GITHUB_WORKSPACE}/functions/typescript/
        for file in *zip;do
          if [[ "${file}" == "Infrastructure"* ]]; then
            echo "updating Lambda with latest ${file} persisted in S3"
          fi
        done

        ### PYTHON APPLICATION FUNCTION UPDATE ###
        cd ${GITHUB_WORKSPACE}/functions/python/
        for file in *zip;do
          if [[ "${file}" == "Infrastructure"* ]]; then
            echo "updating Lambda with latest ${file} persisted in S3"
          fi
        done

        ### PYTHON INFRASTRUCTURE FUNCTION UPDATE ###
        cd ${GITHUB_WORKSPACE}/functions/python/
        for file in *zip;do
          if [[ "${file}" == "Infrastructure"* ]]; then
            echo "updating Lambda with latest ${file} persisted in S3"
          fi
        done

      # Optional Layer and Function Update with Manual Approval
      # aws lambda update-function-code \
      #   --function-name "${function_name}" \
      #   --s3-bucket ${S3_BUCKET} \
      #   --s3-key ${function_s3_prefix}/${function_s3_key}.zip \
      #   --region ${function_s3_region}

# aws lambda publish-layer-version \
#   --layer-name "${LAYER_NAME}" \
#   --description "${LAYER_DESCRIPTION}" \
#   --content S3Bucket=${S3_BUCKET},S3Key=${S3_PREFIX}/${S3_KEY}.zip \
#   --compatible-runtimes ${LAYER_RUNTIME} \
#   --compatible-architectures ${LAYER_ARCHITECTURE} \
#   --region ${S3_REGION}
# echo "################### NEW VERSION PUBLISHED FOR LAYER [${LAYER_NAME}] ##############"